<%= form_for @user do |f| %>
<ul>
	<% @user.errors.full_messages.each do |error| %>
	<li><%= error %></li>
	<% end %>
</ul>

<p>
	<%= f.label :username, "Enter Your Username" %><br/>
	<%= f.text_field :username, placeholder: "Username" %>
</p>

<p>
	<%= f.label :email, "Email" %><br/>
	<%= f.text_field :email, placeholder: "foo@bar.com" %>
</p>

<p>
	<%= f.label :password, "Password" %><br/>
	<%= f.text_field :password, placeholder: "Password" %>
</p>

<p>
	<%= f.label :password_confirmation, "Confirm Your Password" %><br/>
	<%= f.text_field :password_confirmation %>
</p>

	<%= f.submit "Create" %>
<% end %>

